In [50]:
# Практическое задание к семинару 10
# Задача 67: Создать новый столбец в таблице с пингвинами, который будет отвечать за показатель длины клюва пингвина.
# high - длинный(от 42)
# middle - средний(от 35 до 42)
# low - маленький(до 35)

import seaborn as sns

penguins = sns.load_dataset("penguins")
penguins.loc[penguins['bill_length_mm'].ge(42), 'bill_type'] = 'high'
penguins.loc[penguins['bill_length_mm'].between(35, 42, 'left'), 'bill_type'] = 'middle'
penguins.loc[penguins['bill_length_mm'].lt(35), 'bill_type'] = 'low'
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_type
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,middle
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,middle
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,middle
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,middle
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,high
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,high
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,high
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,high